Repository modern-agile-team/dongurami-front, pull requests merged in 2021-08, with the labels that each got.

#4 Refactor(junsang/setup): 프로젝트 구조 변경 #3
  package-lock.json
  pages/api/hello.js
  pages/index.js
  src/pages/_app.js
  src/pages/index.js
  styles/Home.module.css
  styles/globals.css
  yarn.lock
Labels: update

#98 Modify(soonki/sidebar): sidebar UI와 동아리 소개 UI 개선
  src/components/ClubHome/ClubInfo.js
  src/components/ClubHome/ClubIntro.js
  src/components/ClubHome/common/SideBar.js
  src/components/ClubHome/common/frame.js
  src/styles/Club/Home/Common/SideBar.module.scss
  src/styles/Club/Home/Common/frame.module.scss
  src/styles/Club/Home/Intro/ClubInfo.module.scss
  src/styles/Club/Home/Intro/ClubIntro.module.scss
Labels: style

#106 Modify(seohyun/Header): Header UI 1차 구현 #99
  package.json
  src/components/Common/Header.js
  src/styles/Common/Header.module.scss
Labels: style

#108 Modify(soonki/activities): 동아리 활동 내용 UI 개선 #104
  src/components/ClubHome/Activities.js
  src/components/ClubHome/Activities/Act.js
  src/components/ClubHome/Activities/Activities.js
  src/components/ClubHome/Activities/Modal.js
  src/components/ClubHome/Intro/ClubInfo.js
  src/components/ClubHome/Intro/ClubIntro.js
  src/components/ClubHome/common/frame.js
  src/styles/Club/Home/Activities/Act.module.scss
  src/styles/Club/Home/Activities/Activities.module.scss
  src/styles/Club/Home/Activities/Modal.module.scss
  src/styles/Club/Home/Common/SideBar.module.scss
Labels: new, update, style

#112 Add(soonki/activity): 1. modal 사진 전환 기능 추가 2. 활동내용 페이지 반응형 구현
  src/components/ClubHome/Activities/Activities.js
  src/components/ClubHome/Activities/Modal.js
  src/components/ClubHome/common/frame.js
  src/styles/Club/Home/Activities/Act.module.scss
  src/styles/Club/Home/Activities/Activities.module.scss
  src/styles/Club/Home/Activities/Modal.module.scss
  src/styles/Club/Home/Common/SideBar.module.scss
  src/styles/Club/Home/Common/frame.module.scss
  src/styles/Common/Header.module.scss
Labels: new, style
